@inherits LayoutComponentBase
@using Data

@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject SampleService SampleService
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div class="main">
    <div class="top-row px-4">

        <button class="e-btn e-info button" @onclick="OnPrevClick">Prev</button>
        <button class="e-btn e-primary button" @onclick="OnHomeClick">Home</button>
        @*<button class="e-btn e-success button" @onclick="@OnStartClick">Start</button>*@
        <button class="e-btn e-info button" @onclick="OnNextClick">Next</button>
    </div>

    <div class="content px-4">
        <div id="cypress-target">
            @Body
        </div>
    </div>
</div>

<style>
    .button {
        margin: 0 30px;
    }

     .sf-license-warning {
        display: none;
    }
</style>

@code {
    void OnStartClick()
    {
        UriHelper.NavigateTo(UriHelper.BaseUri + SampleService.Samples[0].Substring(1));
    }

    void OnHomeClick()
    {
        UriHelper.NavigateTo(UriHelper.BaseUri);
    }

    void OnNextClick()
    {
        UriHelper.NavigateTo(UriHelper.BaseUri + GetPath(false));
    }

    void OnPrevClick()
    {
        UriHelper.NavigateTo(UriHelper.BaseUri + GetPath(true));
    }

    string GetPath(bool isPrev)
    {
        string currentPath = UriHelper.ToBaseRelativePath(UriHelper.Uri);
        if (isPrev)
        {
            return SampleService.GetPrevSamplePath("/" + currentPath).Substring(1);
        }
        else
        {
            return SampleService.GetNextSamplePath("/" + currentPath).Substring(1);
        }
    }
}


