@page "/fetchdata"

@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

<SfButton Content="Change Entire Panel Settings" OnClick="UpdatePanel"></SfButton>
<SfButton Content="Adding Panels" OnClick="AddPanel"></SfButton>
<SfButton Content="RemoveLastPanel" OnClick="RemoveLastPanel"></SfButton>

<SfButton Content="RemoveFirstPanel" OnClick="RemoveFirstPanel"></SfButton>


<SfButton Content="Remove Panel Method" OnClick="RemovePanelMethod"></SfButton>

<SfDashboardLayout @ref="dashboardObject" Columns="5" AllowResizing="true">
    <DashboardLayoutPanels>
        @foreach (var section in sections)
        {

            string id = section.ID;
            int row = section.Row;
            int col = section.Col;
            int width = section.Width;
            int height = section.Height;

            <DashboardLayoutPanel Id="@id" SizeX=@width SizeY=@height Col=@col Row=@row>
                <ContentTemplate>
                    <div>Content element @id</div>
                </ContentTemplate>
            </DashboardLayoutPanel>
        }
    </DashboardLayoutPanels>
</SfDashboardLayout>
@code{
    SfDashboardLayout dashboardObject;
    public class Dashboards
    {
        public string Name { get; set; }
    }

    List<SimplePanelDefinition> sections = new List<SimplePanelDefinition>  {
         new SimplePanelDefinition { ID="lay1", Row = 0,Col = 0, Width = 1, Height = 1   },
         new SimplePanelDefinition { ID="lay2", Row = 0, Col = 1, Width = 1, Height = 1 },
         new SimplePanelDefinition { ID="lay3", Row = 0, Col = 2, Width = 1, Height = 1 }
     };
    List<SimplePanelDefinition> sections1 = new List<SimplePanelDefinition>  {
                             new SimplePanelDefinition { ID="lay3", Row = 0,Col = 0, Width = 2, Height = 2  },
                            new SimplePanelDefinition { ID="lay4", Row = 0, Col = 1, Width = 1, Height = 1 },

     };
    public class SimplePanelDefinition
    {
        public string ID { get; set; }
        public int Row { get; set; }
        public int Col { get; set; }
        public int Width { get; set; }
        public int Height { get; set; }
        public RenderFragment content { get; set; }
        public string Header { set; get; }
        public string Color { get; set; }
    }
    public int Count = 3;
    public void RemoveFirstPanel()
    {
        // var itemToRemove = sections.Single(r => r.ID == "lay3");
        // sections.Remove(itemToRemove);
        //  dashboardObject.RemovePanel("lay3");
        //    sections.RemoveAt(sections.Count - 1);
        sections.RemoveAt(0);
        StateHasChanged();
    }
    public void RemoveLastPanel()
    {
        sections.RemoveAt(sections.Count - 1);
        StateHasChanged();
    }
    public void RemovePanelMethod()
    {
        dashboardObject.RemovePanel("lay3");
        StateHasChanged();
    }
    public void AddPanel()
    {
        sections.Add(new SimplePanelDefinition
        {
            ID = this.Count.ToString() + "_layout",
            Row = 1,
            Col = 0,
            Width = 1,
            Height = 1
        });
        this.Count = this.Count + 1;
        // sections.Add(new SimplePanelDefinition { ID = "lay5", Row = 1, Col = 0, Width = 1, Height = 1 });
    }
    public void UpdatePanel()
    {
        sections = sections1;
        //StateHasChanged();
    }
}
<style>
    .e-panel-content {
        height: calc(100% - 28px) !important;
    }
</style>
