@page "/methods/enabledisable"

@using Syncfusion.Blazor.Lists

<div id="container">
    <button id="disable" @onclick="@DisableItem">Disable Item</button>
    <button id="enable" @onclick="@EnableItem">Enable Item</button>
    <div class="flex vertical-center">
        <div class="padding">
            <SfListView ID="Listview" @ref="listInstance" DataSource="@DataSource" Width="300px">
                <ListViewFieldSettings TValue="ListDataModel" Id="Id" Text="Text"></ListViewFieldSettings>
                <ListViewEvents TValue="ListDataModel">
                </ListViewEvents>
            </SfListView>
        </div>
    </div>
</div>

@code
{ SfListView<ListDataModel> listInstance;
    List<string> Events = new List<string>();

    List<ListDataModel> DataSource = new List<ListDataModel>() {
    new ListDataModel { Id = "1", Text = "Text 1" },
    new ListDataModel { Id = "2", Text = "Text 2" },
    new ListDataModel { Id = "3", Text = "Text 3" },
    new ListDataModel { Id = "4", Text = "Text 4" },
    new ListDataModel { Id = "5", Text = "Text 5" },
    new ListDataModel { Id = "6", Text = "Text 6" },
    new ListDataModel { Id = "7", Text = "Text 7" },
};

    class ListDataModel
    {
        public string Id
        {
            get;
            set;
        }
        public string Text
        {
            get;
            set;
        }
    }

    private void DisableItem(MouseEventArgs e)
    {
        this.listInstance.DisableItem(new ListDataModel { Id = "1", Text = "Text 1" });
    }

    private void EnableItem(MouseEventArgs e)
    {
        this.listInstance.EnableItem(new ListDataModel { Id = "1", Text = "Text 1" });
    }

}
<style>
    #container .e-listview {
        box-shadow: 0 1px 4px #ddd;
        border-bottom: 1px solid #ddd;
    }

    .tracker {
        max-height: 250px;
        overflow: auto;
    }

    .sample {
        justify-content: center;
        min-height: 280px;
        width: 750px;
    }

    .vertical-center {
        align-items: center;
    }

    .padding {
        padding: 4px;
    }

    .flex {
        display: flex;
    }

    .flex__center {
        justify-content: center;
    }

    .margin {
        margin: 10px;
    }
</style>